# Wallpaper daemon config — https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper/
preload = {{ .chezmoi.homeDir }}/.config/hypr/wallpapers/escritorio.jpg
wallpaper = ,{{ .chezmoi.homeDir }}/.config/hypr/wallpapers/escritorio.jpg
splash = false
